{{define "dataMahasiswa"}}
{{template "header"}}
      
   <p class="is-1"><b>Daftar Mahasiswa</b></p>
    <table class="table is-bordered is-fullwidth">
        <thead>
            <tr>
                <td width="5%">No.</td>
                <td>NIM</td>
                <td>Nama Mahasiswa</td>
                <td>Nama Jurusan</td>
                <td width="15%">#</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ .Urut }}</td>
                <td>{{ .NIM }}</td>
                <td>{{ .Nama }}</td>
                <td>{{ .Jurusan }}</td>
                <td>
                    <div class="buttons has-addons is-centered">
                        <a href="" class="button is-small is-primary">Lihat</a>
                        <a href="" class="button is-small is-info">Edit</a>
                        <a href="" class="button is-small is-danger">Hapus</a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    {{template "footer"}}
{{end}}

